<div>
    <!--<h1>
        {{'Full Name:' + getFullName()}}
    </h1>-->
    <img src='http://pragimtech.com/{{imagePath}}' />
    <my-employee></my-employee>
    <!--<button [disabled]="isDisabled">Click Me</button><br />
    <span [innerHtml]='pageHeader'></span><br />
    <button class="colorClass" [class]='classesToApply'>Class binding demo</button>
    <br /><br />
    <button class="colorClass italicsClass boldClass" [class.boldClass]="applyBoldClass">Class binding demo</button>
    <br /><br />
    <button class="colorClass" [ngClass]='addClasses()'>Class binding demo</button>-->
    <!--<button on-click='onClick()'>Click Me</button>-->
    <list-employee></list-employee>
</div>